.stepComplete {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.all-step h4{
  text-align: center;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
}