.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.offCart {
  position: fixed;
  right: 0;
  top: 50%;
}

.cartCound {
  position: absolute;
  top: 0;
}

.nav-link {
  display: unset !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  background: #212529;
  top: 41px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #f4f6f8;
  display: unset;
  background-color: unset;
}